
  .grid_item:nth-child(even),
  .grid_item:nth-child(even) {
    transform: translateY(6rem);
  }

@media (min-width: 768px) {
  .project_cms-item:nth-child(even),
  .project_cms-item:nth-child(even) {
    transform: translateY(6rem);
  }
}

.cta-item:nth-child(even),
.cta-item:nth-child(even) {
  transform: translateY(6rem);
}

.case_button {
  position: absolute;
  pointer-events: none; /* Belangrijk: zorgt dat button de hover niet blokkeert */
  z-index: 10;
}

::-moz-selection { /* Code for Firefox */
  color: #FFFFFF;
  background: #0D9EED;
}

::selection {
  color: #FFFFFF;
  background: #0D9EED;
}